params {
    reads = "/projectnb/bf528/students/shrjain/final-project-template-shriyajain22/materials"
    adapter_fa = "/projectnb/bf528/materials/project-3-chipseq/refs/TruSeq3-SE.fa"
    genome = "/projectnb/bf528/students/shrjain/final-project-template-shriyajain22/refs/GRCm39.primary_assembly.genome.fa"
    blacklist = "/projectnb/bf528/students/shrjain/final-project-template-shriyajain22/refs/ENCFF547MET.bed"
    gtf= "/projectnb/bf528/students/shrjain/final-project-template-shriyajain22/refs/gencode.vM38.primary_assembly.annotation.gtf.gz"
    
    samplesheet = "$projectDir/samplesheet.csv"

    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
        conda.reuse  = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true